<div class="container">
  <h2 class="text-center">Tasks</h2>
  <div class="row">
    <% Task.all.each do |task| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <p>Status: <strong><%= task.status %></strong></p>
          </div>
          <div class="card-body">

            <h3 class="card-title"><%= task.title %></h3>
            <p class="card-text"><%= task.description %></p>
          </div>
          <div class="card-footer">
            <% if task.due_date != nil %>
              <h4 class="card-subtitle mb-2 text-muted">
                Due date: <%= task.due_date  %>
              </h4>
            <% else %>
              <h4 class="card-subtitle mb-2 text-muted">
                <%= link_to "Add a due date", edit_task_path(task) %>
              </h4>
            <% end %>

            <%= link_to "View Details", task_path(task), class: "btn btn-primary" %>

          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
