<div class="container">
  <div class="row">
    <div class="md-col-4">
      <h2 class="text-center">Enter a new task!</h2>
      <div class="input-group mb-3 mt-3">
        <input
          type="text" class="form-control" placeholder="Buy bread" aria-label="Buy bread" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <% if @tasks.present?  %>
    <h2 class="text-center"><%= current_user.first_name %>'s Tasks</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Title</th>
          <th scope="col">Due Date</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <% @tasks.each do |task| %>
        <tbody>
          <tr>
            <td><%= task.status.capitalize %></td>
            <td><%= link_to "#{task.title}", task_path(task) %></td>
            <td>
              <% if task.due_date != nil %>
                <p class="card-subtitle mb-2 text-muted">
                  <%= task.due_date.strftime("%B %d, %Y") %>
                </p>
              <% else %>
                <p class="card-subtitle mb-2 text-muted">
                  No due date
                </p>
              <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_task_path(task),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'}  %>
              <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Task</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% else %>
    <h2 class="text-center"> You don't have any tasks yet. Let's create some!</h2>
  <% end %>
</div>


