<div class="container">
  <% if @tasks.present?  %>
    <h2 class="text-center"><%= current_user.first_name %>'s Tasks</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Due Date</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |t| %>
          <% present(t) do |task| %>
            <tr>
              <td>
                <%= task.status.capitalize %>
              </td>
              
              <td>
                <div class="task-title" data-toggle="tooltip" data-placement="top" title="<%=task.title%>"><%= truncate task.title %></div>
              </td>

              <td>
                <div class="task-description data-toggle="tooltip" data-placement="top" title="<%=task.description%>">
                  <%= truncate task.description %>
                </div>
              </td>

              <td>
                <p class="task-due-date"><%= task.display_due_date %></p>
              </td>

              <td>
                <%= link_to "Edit", edit_task_path(task),  
                {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'} %>
                <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Edit Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

              <td>
                <%= link_to "Delete", task_path(task), method: :delete, remote: true, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
      </tbody>
          <% end %>
        <% end %>
    </table>

  <% else %>
    <h2 class="text-center"> You don't have any tasks yet. Let's create some!</h2>
  <% end %>

</div>

