<%= form_with(model: @task, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Task.statuses.keys) %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, data:{ provide:'datepicker' } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

