<div class="container">
  <div clss="md-col-4">
    <div class="card"">
      <div class="card-header text-center">
        <h2 class="card-title text-center"><%= @task.title %></h2>
        <% if @task.due_date != nil %>
          <h4 class="card-subtitle mb-2 text-muted text-center">
            <% @task.due_date  %>
          </h4>
        <% else %>
          <h4 class="card-subtitle mb-2 text-muted text-center">
            <%= link_to "Add a due date", edit_task_path(@task) %>
          </h4>
        <% end %>
        <div class="card-body text-center">


          <h5 class="card-text"><%= @task.description %></h5>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-group">
    <div class="card">

      <div class="card-body">
        <div class="card-text">Edit your task to stay on track!</div>
        <br>
        <%= link_to "Edit Task", edit_task_path(@task), class: "btn btn-warning" %>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p>The current status for this task is <strong><%= @task.status %></strong>.</p>

        <%= form_with(model: @task, remote: true) do |form| %>
          <%= form.label :status %>
          <%= form.select :status, options_for_select(Task.statuses.keys) %>
          <div class="actions" >
            <%= form.submit %>
          </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p>Delete this task if you no longer need to do it.</p>
        <%= link_to "Delete Task", task_path(@task), method: :destroy, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

  <div clas="md-col-4">
    <div class="card">
      <div class="card-body">
        
      </div>

        <% end %>
    </div>
  </div>
</div>



