<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Kick it into Gear!", root_path, class: "navbar-brand" %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<% if user_signed_in? %>
        <%= link_to 'Add Task', new_task_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'}  %>
<% end %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
    <li class="my-2 my-lg-0">
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Register", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </li>
  </div>
</nav>
